{{!-- 
    Show various type of alert. warning, error, danger, etc.
    You have to add styles for each types of alert more.
    Used: "settings/user.hbs" 
    SCSS: "styles/comp/alert.scss"

    "alert.type" should be warning, error, success, danger, info, etc
 --}}

<div class="theme-alert">
    <div class="{{alert.type}}">
        <div class="content">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            {{fa-icon "warning"}} {{alert.message}}
        </div>
    </div>
</div>