<div class="origin dashboard">
  <div class="tabs">
    {{#each categories as |category|}}
      {{radio-button checked=(eq category selectedTab) value=selectedTab selection=selectedTab id=category name="tab-control"}}
    {{/each}}
    <ul class="dashboardNav">
      {{#each categories as |category|}}
       {{organization/team-tab panels=panels currentOrigin=currentOrigin team=team selectedTab=selectedTab tab=category}}
      {{/each}}
    </ul>
    <div class="slider slider-one">
      <div class="indicator"></div>
    </div>
    <div class="content">
      {{#each panels as |tab|}}
        {{component tab selectedTab=selectedTab currentOrigin=currentOrigin team=team model=model category=tab}}
      {{/each}}
    </div>
  </div>
</div>
