.container-list {
    width: 100%;
    .left {
        float: left;
        width: calc(100% - 162px);
        height: 230px;
        background-color: white;
        box-shadow: 0 2px 3px -2px rgba(57, 70, 147, 0.14);

        .domain {
            height: 35%;
            padding: 27px 0 0 60px;
            border-bottom: 1px solid #eeeff5;
            position: relative;

            .icon {
                position: absolute;
                width: 20px;
                left: 27px;
                top: 31px;
                filter: drop-shadow(0px 8px 6px rgba(44, 102, 22, 0.3));

                .cls-1warning {
                  fill: #FF9800;
                }

                .cls-2warning {
                  fill: #FFCC80;
                }

                .cls-1failure {
                  fill: #D84315;
                }

                .cls-2failure {
                  fill: #FFAB91;
                }

                .cls-1success {
                  fill: $deploy-status-success-outer-color;
                }

                .cls-2success {
                  fill: $deploy-status-success-inner-color;
                }

                .cls-1selected {
                  fill: #47ad1d;
                }

                .cls-2selected {
                  fill: #8ee094;
                }
            }

            .text1 {
                color:#3e4152;
                font-weight: bold;
                font-size: 15px;
                margin: 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .text2 {
                color: #a6a7ad;
                text-transform: uppercase;
                margin: 0px;
                font-size: 12px;
            }
        }

        .ip {
            height: 30%;
            padding: 18px 0 0 60px;
            border-bottom: 1px solid #eeeff5;
            position: relative;

            .icon {
                position: absolute;
                left: 27px;
                top: 26px;

                i {
                    font-size: 20px;
                    color: #8d90a2;
                }
            }

            .text1 {
                color:#9094ae;
                font-weight: bold;
                font-size: 15px;
                margin: 0px;
            }

            .text2 {
                color: #99a0ad;
                text-transform: uppercase;
                margin: 0px;
                font-size: 12px;
            }
        }

        .location {
            height: 35%;
            padding: 16px 0 0 60px;
            position: relative;

            .icon {
                position: absolute;
                left: 27px;
                top: 22px;

                i {
                    font-size: 20px;
                    color: #8d90a2;
                }
            }

            .text1 {
                color:#9094ae;
                font-weight: bold;
                font-size: 15px;
                margin: 0px;
            }

            .text2 {
                color: #c1c1c3;
                text-transform: none;
                margin: 0px;
                font-size: 12px;
            }
        }
    }

    .right{
        float: right;
        height: 230px;
        width: 162px;
        background-color: white;
        border-left: 1px solid #eeeff5;
        box-shadow: 2px 0px 50px -2px rgba(60, 119, 199, 0.1);
        position: relative;

        .settingIcon{
            position: absolute;
            color: #c4c6d2;
            font-size: 18px;
            left: 20px;
            top: 20px;
        }

        .gauge {
            padding: 0px 20px 0 0;

            .blueGaugeDiv {
              left: 12px;
            }
        }

        .stack-action {

          .resource-actions {
            top: 12px;
            left: 14px;
            button {
              font-size: 18px;
              background-color: white;
              color: #c4c6d2;
              padding-top: 10px;
            }
            button:focus {
              border: 1px solid #68f8fc !important;
              outline-offset: 0px !important;
              outline: none !important;
            }
          }
        }

        .stack-box {
            canvas {
              margin-top: -36px;
              margin-left: -74px;
            }
        }
    }
}
