.chart-os {

    background-color: #e3e9f6;
    box-shadow: 4px 5px 26px rgba(41, 83, 189, .4);

    margin: 0px 30px;
    background-color: #f8f9fd;

    .hex-container {
      height: 244px;
      text-align: center;
    }

    .hex_chart_os svg{
        padding-left: 15px;
    }

    .os-hex-desc {
      color: #3e3f51;
      font-size:18px;
      margin-top: -50px;
      text-align: center;
    }

    #areaGraph {
      margin-top: 20px;
      margin-left: 5px;
      margin-bottom: 18px;
    }

    @media (max-width: 1200px) {
      .os-hex-desc {
        margin-top: -20px;
      }
    }

    @media (max-width: 992px) {
      .os-hex-desc {
        margin-top: -15px;
      }

      .hex_chart_os svg {
        padding-left: 10px;
        padding-top: 40px;
      }

    }

    @media (max-width: 768px) {
      .area-container {
        width: 100%;
      }
      .hex-container {
        height: 270px;
        width: 270px;
        text-align: center;
        margin-left: calc(50% - 135px);
        margin-top: -40px;
      }
      .os-hex-desc {
        margin-top: -50px;
      }
    }

    @media (max-width: 568px) {
      margin: 0 10px;
    }
}
