.footer {
    background-image: url('/assets/images/footer.png');    
    width: 100%;
    height: auto;
    text-align: center;
    p {
        color: #7c8094;
        font-size: 16px;
        padding: 50px 0;
    }
}