 <div class="storage-container">
  <div class="storage-box-outer">
    <div class="storage-box active">
      <div class="storage-subbox-1">
        <div class="pull-left st-name">
           {{storageName}}
        </div>
        <div class="pull-right st-pin">
           <span data-detail="#sd_detail1" class="detail-magic" ><img src="./images/storage-pin.png" alt="storage-pin"></span>
        </div>
      </div>
      <div class="storage-subbox-2">
        <span class="sub-title">IP</span>
        <span class="sub-name">{{ip}}</span>
        <span class="sub-title">Type</span>
        <span class="sub-name">{{type}}</span>
      </div>
    </div>
  </div>
</div>
