<li>
    <label class="city">{{model.object_meta.name}}</label>
    <label class="dash"></label>
    <label class="country">{{country}}</label>
      {{#if statusNotOkay}}
    <label class="closebtn">×</label>
    {{/if}}
</li>
