<label for= {{tab}} role="button">
    <div class="col-md-10">
    <span class="wizard-tab-title">{{title}}</span>
  </div>
  {{#if isComplete}}
  <div class="col-md-2">
    <i class="fa fa-check-circle wizard-complete-check" aria-hidden="true"></i>
</div>
{{/if}}
</label>
