.settings {
  .activate {
    padding-bottom: 30px;
  }

  .pad-top {
    padding-top: 60px !important;
  }

  .sub-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 5px;
  }

  .sub-description {
    font-size: 16px;
    color: #bfc4d5;
    text-align: center;
  }

  .dots-ico {
    width: 6px;
    margin: 30px auto;

    svg .cls-1 {
      fill: #d9dfeb;
    }
  }

  .mini-text {
      color: #a6a7ad;
      margin: 0;
      font-size: 12px;
  }

}
