@import "app/styles/base/colors.scss";
@import "base/application";
@import "bootstrap";
@import "base/basic_variables";
@import "base/basic_classes.scss";
@import "pages/settings.scss";
@import 'pages/signform.scss';
@import 'components/navbar';
@import 'pages/home.scss';
@import 'pages/contact-admin.scss';
@import 'components/loading.scss';
@import 'components/modal.scss';
@import 'pages/vnc.scss';
@import 'components/resource-actions.scss';
@import 'components/notification.scss';
@import 'components/container-vnc.scss';
@import 'components/select-dropdown.scss';
@import 'components/notification-bar.scss';
@import 'pages/dashboard.scss';
@import 'pages/no-vnc.scss';
@import 'comp/chart-os.scss';
@import 'comp/two-chart.scss';
@import 'comp/alert.scss';
@import 'comp/footer.scss';
@import 'comp/label.scss';
@import 'comp/category-tab.scss';
@import 'comp/select-filter.scss';
@import 'comp/chart-gauge.scss';
@import 'comp/assembly-box.scss';
@import 'comp/data-tooltip.scss';
@import 'comp/res-tooltip.scss';
@import 'pages/_fail-whale.scss';
@import 'base/table.scss';
@import 'components/createcloud';
@import 'components/radio';
@import 'components/organization/origin';
@import 'components/organization/team';
@import 'admin/chef_work';
@import 'admin/jscrollbar';
@import 'admin/main';
@import 'admin/select2';
@import 'admin/sweetalert';
@import 'admin/settings';
@import 'flag/flags';
@import 'wizard/wizard';
//TO-DO: Why is this hanging here ?
@import url(https://fonts.googleapis.com/css?family=Roboto);
@font-face {
  font-family: 'fselliot';
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/FSElliot-Regular.otf") format("opentype");
}
//TO-DO: Why is this hanging here ?
body,
body *,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-family: 'fselliot';
}

body *::after,
body *::before,
body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1d43a9;
}

body.wizard-page {
  background-image: url('/assets/images/wizard/wizard-bg.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
}

.container {
  padding: 0;
}

.rio-admin {
  background-color: #fafcff;
}

.no-touch {
  padding-right: 0 !important;
}
