//Standard colors
$bg-primary-color: #fafcff;
$bg-second-color: #f9fafd;
$bg-third-color: #fafdff;

$nav-primary-color: #a6a8c3;
$nav-second-color: #3e4065;
$nav-shadow-color: rgba(65, 65, 191,0.33);
$nav-vr-color: #cacce7;

$rio-primary-color: #fff;
$rio-second-color: #26fdff;
$rio-third-color: #818db2;
$rio-fourth-color: #2953bd;


//8b8ba5
//eef2f9
//fefeff
//2a2f44
//2f78ff signin signup main color

/*
@media (max-width: 1200px) {
    .name {
        font-size: 26px;
        margin-top: 5px;
    }
}

@media (max-width: 992px) {
    .name {
        font-size: 26px;
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .name {
        font-size: 26px;
        margin-top: 5px;
    }
}

@media (max-width: 568px) {
    */