.origin {
  .btn {
    background-image: linear-gradient(-180deg,#6782FA 0,#3C59D6 100%);
    border-radius: 3px;
    font-size: 16px;
    color: #FFF;
    width: 100%;
    height: 40px;
  }
  .push-right {
    float: right;
  }
}
