<div class="cluster-container">
    <div class="cluster-box-outer">
      <div class="cluster-box active">
        <div class="cluster-subbox-1">
          <div class="pull-left st-name">
             Cluster Name
          </div>
          <div class="pull-right st-pin">
             <span data-detail="#sd_detail1" class="detail-magic" ><img src="./images/admin/storage-pin.png" alt="cluster-pin"></span>
          </div>
        </div>
        <div class="cluster-subbox-2">
          <span class="sub-title">IP</span>
          <span class="sub-name">192.168.1.23</span>
          <span class="sub-title">Type</span>
          <span class="sub-name">NTFS</span>
        </div>
      </div>
    </div>
  </div>
