<div class="row m-0">
    <div class="col-xs-12 m-0 p-0">
        <div class="col-xs-12 col-sm-9">
            <div id="areaGraph">
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="gauge5"></div>
            <p class="os-hex-desc">OVERALL USAGE</p>
        </div>
    </div>
</div>
