 {{page-navbar currentPath=currentPath switchOrganization='switchOrigin' model=model organizations=model.organizations}}
 {{#if guardian.state.message}}
 {{bar-notification message=guardian.state.message}}
 {{/if}}
<main class="clearfix">
  {{outlet}}
</main>
