<div class="container">
	<div class="row">
		<div class="card-box">
			<!-- step 1 -->
			{{#if stepone}}
				{{welcome-wizard nextStep='stepTwo'}}
			{{/if}}
			{{#if steptwo}}
			<!-- step 2 -->
			{{admin-signup nextStep='stepThree'}}
			{{/if}}
			{{#if stepthree}}
				<!-- step 3 -->
				{{licence-wizard processTrail='processTrail'}}
			{{/if}}
		</div>
	</div>
</div>
