{{#unless hide}}
<div class="theme-navbar">
  <!-- Fixed navbar -->
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default {{if fixedTop "navbar-fixed-top" "navbar-flow"}}">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#link-to "home" classNames="navbar-brand short-animation"}}<img class="ember-logo" src="images/logo.png">{{/link-to}}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-menu">
            <li>{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
            <li>{{#link-to "launcher"}}Launcher{{/link-to}}</li>

          </ul>

          <ul class="nav navbar-nav navbar-right profile">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="profilehex profilehex1"><div class="profilehex-in1"><div class="profilehex-in2"></div></div></div>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" {{action "logout"}}>Logout</a></li>
              </ul>
            </li>
          </ul>
          <div class="nav navbar-nav navbar-right hexagon rionews">
            <span class="svg">
              {{theme-svg-news}}
            </span>
            <span class="info"></span>
          </div>
          <div class="vr navbar-right"></div>
          <div class="nav navbar-nav navbar-right hexagon riostats">
            <span class="svg">
              {{theme-svg-stats}}
            </span>
          </div>
          <div class="vr navbar-right"></div>
          <ul class="nav navbar-nav navbar-right riosearch">
            <li>
              <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input class="navbar-search" placeholder="Search">
              </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
  </div>
  {{#if fixedTop}}
  <div class="black-header"></div>
  {{/if}}
</div>

{{/unless}}
