<p class="sub-title">{{t 'launcherPage.repo.title'}}</p>
<p class="sub-description">{{t 'launcherPage.repo.subtitle'}}</p>
<p class="domain-name">{{model.buildconfig.spec.source.git.uri}}</p>
{{editable-popup-textbox placeholder=repoPlaceHolder showSpinner=showSpinner targetActionName="setRepoUrl" showIcon=showIcon btnName=btnName}}
