.application {
  
  .center-align {
      text-align: center;
  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
  }

  .smooth-disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}
