//Standard colors
$bg-primary-color: #fafcff;
$bg-second-color: #f9fafd;
$bg-third-color: #fafdff;
$bg-fourth-color: #e8effa;

$nav-primary-color: #a6a8c3;
$nav-second-color: #3e4065;
$nav-shadow-color: rgba(65, 65, 191,0.33);
$nav-vr-color: #cacce7;

$rio-primary-color: #fff;
$rio-second-color: #26fdff;
$rio-third-color: #818db2;
$rio-fourth-color: #2953bd;
$rio-fifth-color: #24294f;

// GREEN/LIGHT GREEN
$deploy-status-success-outer-color: #2958cd;
$deploy-status-success-inner-color: #26fdff;

