<p class="sub-title">{{t 'launcherPage.domain.title'}}</p>
<p class="sub-description">{{t 'launcherPage.domain.subtitle'}}</p>
<p class="domain-name">{{stacksfactoryObjectMeta.name}}</p>
{{editable-popup-textbox placeholder=domainPlaceHolder showSpinner=showSpinner targetActionName="setNewDomain" showEditBox=showDomainEditBox}}
