<div class="dashboard">
  <div class="tabs">
    {{#each categories as |category|}}
      {{radio-button checked=(eq category selectedTab) value=selectedTab selection=selectedTab id=category name="tab-control"}}
    {{/each}}
    <ul class="dashboardNav">
      {{#each categories as |category|}}
       {{organization/organization-tab panels=panels selectedTab=selectedTab tab=category}}
      {{/each}}
    </ul>
    <div class="slider slider-one">
      <div class="indicator"></div>
    </div>
    <div>
      {{#each panels as |tab|}}
        {{component tab selectedTab=selectedTab category=(str-replace tab match="stacks-application-" with="")}}
      {{/each}}
    </div>
  </div>
</div>
