<div class="col-xs-6 storage-type">
    <p class="text-storage">Storage Type</p>
    <div class="contents">
        <div class="c-flash">
            <img src="images/second/summary/flash.png">
            <p>Flash</p>
            <div class="storage-active"></div>
        </div>
        <p class="text-or">or</p>
        <div class="c-hdd">
            <img src="images/second/summary/hdd.png">
            <p>HDD</p>
        </div>
    </div>
</div>
