<div class="scaling-count">
  <div class="row generate ">
      <!-- <div class="g-left row peer-show "> -->
      <div class="col-md-12">
        <div class="rio-selectbtn row">
        <div class="col-md-6">
          {{createcloud/chart-cores class="chart-cores" model=model initValue=model.vscaling.spec.max_resource.cpu resource=maxCpuResource}}
        </div>
        <div class="col-md-6">
          {{createcloud/chart-cores class="chart-cores" model=model initValue=model.vscaling.spec.min_resource.cpu resource=minCpuResource}}
          </div>
        </div>

        <div class="rio-selectbtn row">
          <div class="col-md-6">
          {{scaling/scale-percentage-chooser class="chart-cores" model=model initValue=model.vscaling.target_value.max_target_value_cpu resource=resources.maximum scaleType=scaleType}}
        </div>
        <div class="col-md-6">
          {{scaling/scale-percentage-chooser class="chart-cores" model=model initValue=model.vscaling.target_value.min_target_value_cpu resource=resources.minimum scaleType=scaleType}}
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
