<button type="button" aria-label="" aria-controls="resource-actions" class="btn bg-transparent {{sizeClass}} more-actions" data-toggle="dropdown" data-target=".resource-actions" aria-expanded="false">
  <i class="fa fa-cog"></i>
</button>
