<div class="col-sm-3 content-right">
  <!-- cluster Detail :: Start -->
    <div class="cluster-detail-container">
    <div class="cluster-detail-box" id="sd_detail1">
      <div class="cluster-active-detail-name">
        Cluster Name
        <span class="cluster-edit"><a href="">Edit</a></span>
      </div>
      <div class="cluster-active-detail-detail">
        <div class="sd-subheader">DETAILS</div>
        <div class="sd-storage-detail sd-table">
          <div class="sd-title">Storage</div>
          <div class="sd-value">192.168.1.23</div>
        </div>
        <div class="sd-currency-detail sd-table">
          <div class="sd-title">Currency</div>
          <div class="sd-value">255.255.1.1</div>
        </div>
        <div class="sd-datacenter-detail sd-table">
          <div class="sd-title">Datacenter</div>
          <div class="sd-value">
            <img src="./images/admin/flags/flag1.png" class="img-flag">
            <span>Newyork 01</span>
          </div>
          <div class="sd-value">
            <img src="./images/admin/flags/flag1.png" class="img-flag">
            <span>Newyork 02</span>
          </div>
        </div>
        <div class="sd-node-detail sd-table">
          <div class="sd-title">Node</div>
          <div class="sd-value"><span>type1</span>
          <span class="sd-more-cluster-nodes" data-toggle="modal" data-target="#more_nodes" >+20 more</span>
          </div>
        </div>
        <div class="sd-network-detail sd-table">
          <div class="sd-title">Network</div>
          <div class="sd-value">type1
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- cluster Detail :: End -->
</div>
