.shell-body {
  display: flex;

  .terminal {
    margin: 0 auto;
    font-size: 12px;
    font-family: "Lucida Console", Monaco, "Courier New", monospace;
  }
}

.shell-status {
  position: absolute;
  margin: 10px 0;
}

.shell-popup {
  padding: 20px;
  color: #fbf4f4;
}

.xterm-rows {
  padding: 10px;
  background-color: black;
  width: 208%;
  color:#eaeaea;
  margin-left: -52%;
}
