<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-lg-3 col-lg-offset-0">
        {{home/chart-gauge model=guageOne showName=true showOS=false}}
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-lg-3 col-lg-offset-0">
        {{home/chart-gauge model=guageTwo showName=true showOS=false}}
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-lg-3 col-lg-offset-0">
        {{home/chart-gauge model=guageThree showName=true showOS=false}}
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-lg-3 col-lg-offset-0">
        {{home/chart-gauge model=guageFour showName=true showOS=false}}
    </div>
</div>
