<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-lg-3 col-lg-offset-0">
        {{home/chart-gauge model=cpu showName=true showOS=false}}
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-lg-3 col-lg-offset-0">
        {{home/chart-gauge model=ram showName=true showOS=false}}
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-lg-3 col-lg-offset-0">
        {{home/chart-gauge model=disk showName=true showOS=false}}
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-lg-3 col-lg-offset-0">
        {{home/chart-gauge model=unknown showName=true showOS=false}}
    </div>
</div>
