
.home {
    .title {
        color: #37395a;
        font-size: 20px;
        letter-spacing: 5px;
        margin-bottom: 0px;
        text-transform: uppercase;
        
        span {
            border-bottom: 3px solid #2d9aff;
            letter-spacing: 0px;
            padding-bottom: 5px;
            margin-right: 5px;
        }

        @media (max-width: 576px) {
            padding-left: 0 !important;
            text-align: center;
        }
    }

    .main-gauges {
        background-image: url(../images/home/bg_gauge.png);        
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-transform: uppercase;
    }

    .statistics {
        background-color: #f0f4fa;        
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .list-content {
        margin: 20px 20px 0 20px;

        .list {
            margin-bottom: 30px;
        }
    }

    .os-useage-bytime{
        background-color: #e3e9f6;
    }
    
    @media (max-width: 576px) {
        .list-content {
            margin: 0;
        }

        .column {
            width: 100%;
        }

        .list {
            padding-left: 6px;
            padding-right: 6px;
        }
    }
}
