.vnc-button {
  padding-bottom: 16px;
  padding-right: 52px;
}

.vnc-top {
  padding-top: 100px;
}

.vnc-title {
  padding-left: 200px;
}

.vnc-button-top {
  margin-left: -23px;
}

.vnc-button {
  padding: 0px;
}

 .vnc-close{
   background-color: #8fd0ca;
   color: white;
 }
 .vnc-delete{
   background-color: #2451a9;
   color: white;
 }
 .vnc-background{
   background-color: white;
 }
