<div class="col-sm-12 content-left activate">
	<div class="panel panel-default kv-panel">
<div class="logs">

    {{page-alert alert=tableLastData}}
  <br>
	{{log-table model=tableData class="info-table"}}

</div>
{{page-footer}}
</div>
</div>
