{{#if emptyLogs}}
<div class="empty-event">
  <div class="pin-img">
    <img src="assets/images/admin/3pin.PNG" class="img-responsive" alt="pin">
  </div>
  <div class="error-msg">
    <span>{{t 'profile.events.required'}}</span>
  </div>
</div>
{{else}}
<br>
{{table/event-table model=tableData class="info-table"}}
{{/if}}
