
<head>
	<title>Pre-loader</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/style_preloader.css"> -->
</head>
	<body style="margin: 0; background: black;">

<div>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 792" style="enable-background:new 0 0 612 792; display: block;margin: auto;background-position: center center; background-repeat: no-repeat; background-size: contain; width: 100vw; height: 100vh;" xml:space="preserve">

<path id="hexagon4" style="fill:#233BD3" d="M306,256h-80.1l-81.2,140l80.9,139.9h160.9L467.3,396l-81.1-140H306z"/>

<g class="lines">
		<line id="line1" style="fill:none;stroke:#2446C5;stroke-miterlimit:10;" x1="306" y1="395.9" x2="62.5" y2="396"/>
		<line id="line2" style="fill:none;stroke:#2446C5;stroke-miterlimit:10;" x1="306" y1="395.9" x2="184.3" y2="185.5"/>
		<line id="line3" style="fill:none;stroke:#2446C5;stroke-miterlimit:10;" x1="306" y1="395.9" x2="428" y2="184.5"/>
		<line id="line4" style="fill:none;stroke:#2446C5;stroke-miterlimit:10;" x1="306" y1="395.9" x2="550" y2="395.9"/>
		<line id="line5" style="fill:none;stroke:#2446C5;stroke-miterlimit:10;" x1="306" y1="395.9" x2="428" y2="608"/>
		<line id="line6" style="fill:none;stroke:#2446C5;stroke-miterlimit:10;" x1="306" y1="395.9" x2="184.3" y2="608"/>
</g>

<path id="corners" style="fill:none;stroke:#5E93FF;stroke-miterlimit:10;" d="M397,274.5 M455.6,416.3l11.8-20.3l-12.8-22
		 M455.6,416.3 M397.7,516.5 M359.9,535.9h26.5l11.2-19.4 M359.9,535.9 M250,535.9 M213.7,515.4l11.8,20.5H250 M213.7,515.4
		 M156.6,416.7 M157.9,373.2L144.7,396l11.9,20.7 M157.9,373.2 M214.8,275.1 M250.2,256h-24.3l-11.1,19.1 M397,274.5L386.2,256
		h-26.5"/>

<g id="hexagon_numbers">
	<g class="cl_hexagon1">
		<path id="hexagon1" style="fill:none;stroke:#366BD6;stroke-width:3;stroke-miterlimit:10;" d="M306,256h-80.1l-81.2,140
			l80.9,139.9h160.9L467.3,396l-81.1-140H306z"/>
		<path id="clip_hexagon1" style="fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;" d="M306,256h-80.1l-81.2,140l80.9,139.9H306"/>
		<path id="hexagon1_part2" style="fill:none;stroke:#366BD6;stroke-width:3;stroke-miterlimit:10;" d="M306,256h-80.1l-81.2,140l80.9,139.9H306"/>
	</g>
	<radialGradient id="hexagon2_1_" cx="306" cy="395.9297" r="151.0201" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#01F4FF"/>
		<stop  offset="0.435" style="stop-color:#01F2FF"/>
		<stop  offset="0.5917" style="stop-color:#01EBFF"/>
		<stop  offset="0.7034" style="stop-color:#01E0FF"/>
		<stop  offset="0.7938" style="stop-color:#01CFFF"/>
		<stop  offset="0.8712" style="stop-color:#00B9FF"/>
		<stop  offset="0.9384" style="stop-color:#009EFF"/>
		<stop  offset="0.9989" style="stop-color:#007FFF"/>
		<stop  offset="1" style="stop-color:#007EFF"/>
	</radialGradient>
	<path id="hexagon2" style="fill:url(#hexagon2_1_);" d="M306,256h-80.1l-81.2,140l80.9,139.9h160.9L467.3,396l-81.1-140H306z"/>
	<path id="hexagon3" style="fill:none;stroke:#279CFF;stroke-width:2;stroke-miterlimit:10;" d="M306,256h-80.1l-81.2,140
		l80.9,139.9h160.9L467.3,396l-81.1-140H306z"/>

	<path id="hexagon5" style="fill:none;stroke:#AEFFF6;stroke-width:2;stroke-miterlimit:10;" d="M306,256h-80.1l-81.2,140
			l80.9,139.9h160.9L467.3,396l-81.1-140H306z"/>

</g>
</svg>


</div>

</body>
