<div class="">
  <select class="select-dropdown" id="select-drop-down-com" name="select-drop-down-com" onchange= {{action "selectOption" value="target.value"}}>
    {{#unless initValue}}
    <option disabled selected>{{placeholder}}</option>
    {{/unless}}

    {{#each options as |option|}}
    <option value={{option}}>{{option}}</option>
    {{/each}}
    </select>
</div>
