<div class={{active}}>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 181.36 202.93">
  <defs>
    <style>.cls-1{fill:#806766;}</style>
  </defs>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <path class="cls-1" d="M90.68,202.93,2.81,152.2V50.73L90.68,0l87.87,50.73V152.2Z"/>
      <image width="1191" height="842" transform="translate(0 37.36) scale(0.15)" href="/assets/images/second/serveros/{{icon}}"/>
    </g>
  </g>
</svg>
</div>
