<div class="col-sm-12 content-left">
	<div class="panel panel-default kv-panel org-index">
		<div class="panel-heading">
			<div class="panel-header">
				{{t 'nav.organization.team.teamCount'}} ({{availableSize}})
			</div>
      <!-- TODO need to remove disabled class after create action for team post-->
			<div class="pull-right kv-right-head-button disabled">
				<button type="button" class="btn">+ {{t 'nav.organization.team.addBtn'}}</button>
			</div>
		</div>
		<div class="panel-body">
			<div class="empty-network">
				<div class="pin-img">
					<img src="assets/images/admin/3pin.PNG" class="img-responsive" alt="pin">
				</div>
				<div class="empty-network-add-link">
					<span>{{t 'nav.organization.team.emptyTeam'}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
