<div class="sd-disk-name sd-table">
  <div class="sd-title">Name</div>
  <div class="sd-value">{{diskName}}</div>
</div>
<div class="sd-disk-cdate sd-table">
  <div class="sd-title">Type</div>
  <div class="sd-value">{{diskType}}</div>
</div>
<div class="sd-disk-asize sd-table">
  <div class="sd-title">AvailSize </div>
  <div class="sd-value">{{availSize}}</div>
</div>
<div class="sd-disk-usize sd-table">
  <div class="sd-title">UsedSize</div>
  <div class="sd-value sd-green">{{usedSize}}</div>
</div>
