<div class="rio-selectbtn">
  <label {{action 'sendType'}} class={{enable}}>
    <input type="checkbox" class="option-input radio" checked={{active}} name="example"/>
    <span>{{name}}</span>
  </label>
</div>
