 <!-- {{admin-infra/storage-cluster-add}} -->
<div class="panel panel-default kv-panel">
  <div class="panel-heading">
    <div class="panel-header">
      Connected Clusters ({{count}})
    </div>
    <div class="pull-right kv-right-head-button">
      <button type="button" data-toggle="modal" data-target="#addcluster" class="btn">+ Add</button>
    </div>
  </div>
  <div class="panel-body">
    {{admin-infra/cluster-clus}}
  </div>
</div>
