      	<div class="panel panel-default kv-panel">
              <div class="panel-heading">
              <div class="panel-header">
                Connected Clusters ({{count}})
              </div>
              <div class="pull-right kv-right-head-button">
                <button type="button" data-toggle="modal" data-target="#addcluster_modal" class="btn">+ Add</button>
              </div>
              </div>
              <div class="panel-body">
              <!-- cluster box :: Start -->

          	{{admin-infra/cluster-clus}}
              <!-- cluster box :: End -->
             </div>
          </div>
          <!-- Content Panel :: End -->
        	<!-- </div> -->

      <!-- </div> -->
    <!-- </div> -->
    <!-- Cluster Add Modal :: Start -->

<!-- Cluster Add Modal :: End -->
<!-- More Node Modal :: Start -->
<!-- Cluster Add Modal :: Start -->
  <!--<div class="modal fade" id="more_nodes" role="dialog">
  <div class="modal-dialog">-->
    <!-- Modal content-->
    <!-- <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Nodes</h4>
    </div>
    <div class="modal-body">
      <div class="cl-nodes-container">
        <ul class="cl-nodes_ul">
          <li class="cl-nodes_l1">Type 1</li>
          <li class="cl-nodes_l1">Type 1</li>
          <li class="cl-nodes_l1">Type 1</li>
          <li class="cl-nodes_l1">Type 1</li>
          <li class="cl-nodes_l1">Type 1</li>
          <li class="cl-nodes_l1">Type 1</li>
          <li class="cl-nodes_l1">Type 1</li>
        </ul>-->
      <!-- </div>
    </div> -->

<!-- More Node Modal :: End -->
