<div class="col-xs-6 storage-type">
    <p class="text-storage">Storage Type</p>
    <div class="contents">
        <div class="c-flash">
            <img src="images/second/summary/ssd.png" {{action "storageType" "ssd"}}>
            <p>Flash</p>
            {{#if selectFlash}}
            <div class="storage-active"></div>
            {{/if}}
        </div>
        <p class="text-or">or</p>
        <div class="c-hdd">
            <img src="images/second/summary/hdd.png" {{action "storageType" "hdd"}}>
            <p>HDD</p>
            {{#if selectHdd}}
            <div class="storage-active"></div>
            {{/if}}
        </div>
    </div>
</div>
