<div class="sd-pool-name sd-table">
  <div class="sd-title">Name </div>
  <div class="sd-value">{{name}}</div>
</div>
<div class="sd-pool-type sd-table">
  <div class="sd-title">Type </div>
  <div class="sd-value">NFS</div>
</div>
<div class="sd-pool-cluster sd-table">
  <div class="sd-title">Pool Cluster </div>
  <div class="sd-value">var/liv/dev</div>
</div>
<div class="sd-pool-asize sd-table">
  <div class="sd-title">AvailSize </div>
  <div class="sd-value">500GB</div>
</div>
