<div class="create-cloud">
    <div class="container">
        <img class="logo-img" src="assets/images/logo2.png">
        <div class="col-container">
            <div class="col-right">
              {{t 'guardian.regular.organization.noOrigin'}}
            </div>
        </div>
    </div>
</div>
