  <p class="sub-title">Select a Domain Name</p>
  <p class="sub-description">You create own domain or uses configured domain name</p>
  <!-- <p class="domain-name">levis.rio</p> -->
  {{input type="text" id="domain" name="field2" placeholder="Type your domain" value=domain}}

  <div class="domain-edit">
    <img {{action "createDomain"}} src="images/second/edit.png">
    <hr>
  </div>
  <div class="security row">
    <div class="col-xs-9 sec-left p-0">
      <div class="col-xs-9 p-l-30">
        <div class="top-content">
          <p class="sec-title"> TYPE OF KEY TO GENERATE</p>
          <div class="typeofkey">
            <img src="images/second/typeofkey.png">
            <span>Add here tooltip.</span>
          </div>
        </div>
        <div class="m-t-40">
          <div class="key-type ">
            <img class="typeofkey_btn" src="images/second/typeofkey_uncheck.png"> SSH-1(RSA)
          </div>
          <div class="key-type">
            <img class="typeofkey_btn" src="images/second/typeofkey_uncheck.png"> SSH-1(RSA)
          </div>
          <div class="key-type">
            <img class="typeofkey_btn" src="images/second/typeofkey_uncheck.png"> SSH-1(RSA)
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <p class="sec-title"> BITS IN KEY</p>
        <div class="bits-key">2048</div>
      </div>
    </div>
    <div class="col-xs-3 sec-right p-0">
      <img class="generate" src="images/second/generate.png">
    </div>
  </div>
