<div class="setup-content" id="step-1">
    <div class="create-digital">
        <img src="images/second/ico1.png">
        <p>CREATING A DIGITAL CLOUD</p>
    </div>
    <div class="pick-cloud row">
        <div id="cg-info"></div>
        <div class="points"></div>
        <p class="pick-text">PICK YOUR CLOUD TYPE</p>

        <div class="col-xs-offset-2 col-xs-4">
            <div class="btn {{cpuselect}}" {{action 'cpu'}} id="cpu"><img></div>
        </div>
        <div class="col-xs-4">
            <div class="btn {{gpuselect}}" {{action 'gpu'}} id="gpu"><img></div>
        </div>
    </div>
    <div class="opened-info row disabled">
        <img id="cg-close" src="images/second/step1/cg-close.png">
        <div class="col-xs-6 p-l-50 p-r-50">
            <img src="images/second/step1/opened-cpu.png">
            <p class="name">CPU</p>
            <p class="cg-description">CPU virtualization emphasizes performance and runs directly on the processor whenever possible. The underlying physical resources are used whenever possible and the virtualization layer runs instructions only as needed to make virtual machines operate as if they were running directly on a physical machine. When CPU resources are overcommitted, the Rio/OS host time-slices the physical processors across all virtual machines so each virtual machine runs as if it has its specified number of virtual processors.</p>
        </div>
        <div class="col-xs-6 p-l-50 p-r-50">
            <img src="images/second/step1/opened-gpu.png">
            <p class="name">GPU</p>
            <p class="cg-description">The GPU software is installed at the virtualization layer along with the hypervisor. The GPU software creates virtual GPUs enabling every virtual machine (VM) to share the physical GPU installed on the server. The  virtualization software includes a graphics driver for every VM. Because work that was typically done by the CPU is offloaded to the GPU, the user has a much better experience, and demanding engineering and creative applications can now be supported in a virtualized and cloud environment.</p>
        </div>
    </div>
</div>
