<div class="setup-content" id="step-1">
    <div class="create-digital">
        <img src="images/second/ico1.png">
        <p>CREATING A DIGITAL CLOUD</p>
    </div>
    <div class="pick-cloud row">
        <div id="cg-info"></div>
        <div class="points"></div>
        <p class="pick-text">PICK YOUR CLOUD TYPE</p>

        <div class="col-xs-offset-2 col-xs-4">
            <div class="btn" {{action 'cpu'}} id="cpu"><img></div>
        </div>
        <div class="col-xs-4">
            <div class="btn" {{action 'gpu'}} id="gpu"><img></div>
        </div>
    </div>
    <div class="opened-info row disabled">
        <img id="cg-close" src="images/second/step1/cg-close.png">
        <div class="col-xs-6 p-l-50 p-r-50">
            <img src="images/second/step1/opened-cpu.png">
            <p class="name">CPU</p>
            <p class="cg-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
        </div>
        <div class="col-xs-6 p-l-50 p-r-50">
            <img src="images/second/step1/opened-gpu.png">
            <p class="name">GPU</p>
            <p class="cg-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
        </div>
    </div>
</div>
