<html>
  <head>
    <title>Canvas</title>
    <style>
      canvas {border: 1px solid black;}
    </style>
  </head>
  <body>
    <h1>canvas</h1>
    <canvas width = "200" id="mycanvas"></canvas>
    <script>
      var canvas = document.getElementByd("mycanvas");
    </script>
  </body>
</html>
