.cloud-performance {
    .performance-content {
        background-image: url(/assets/images/createcloud/cloudperformance.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        padding-top: 100px;
        // background-color: #f9fafe;
    }

    .sub-title {
        color: white;
        text-transform: uppercase;
    }

    .chart-cores {
        text-align: center;
    }

    .storage-content {
        padding-bottom: 77px;

        .title {
            font-size: 25px;
            color: #bcbdce;
            text-align: center;
            padding-top: 60px;
            margin-bottom: 20px;
        }

        .content {
            position: relative;
            margin: 0 auto;
            width: 380px;
        }
    }

    .text-or {
        position: absolute;
        left: 180px;
        top: 56px;
        font-size: 24px;
        color: #64687c;
    }



    .ram-content {
        text-align: right;
        padding: 0;
    }

    .capacity-content {
        text-align: left;
        padding: 0;
    }
    .scaling-content {
        padding-bottom: 10px;
        .title {
            font-size: 25px;
            color: #bcbdce;
            text-align: center;
            // padding-top: 10px !important;
            margin-bottom: 20px;
      }
    }

    .chart-ram svg,
    .chart-storage svg{
        box-shadow:0px 14px 20px -10px rgba(41, 49, 190, 0.3);
    }

    .rio-hdd {
        margin-left: 75px;
    }

    @media only screen and (max-width: 1200px) {
        .storage-content .content {
            width: 320px;
        }

        .rio-hdd {
            margin-left: 16px;
        }

        .text-or {
            left: 150px;
        }
    }

    @media only screen and (max-width: 992px) {
        .performance-content {
            background-image: url(/assets/images/createcloud/cloudperformance1.png);
            background-color: #1c2032;
        }

        .storage-content {
            background: #1a1d2d;
            margin:0 15px;
            padding-bottom: 76px;
        }

        .ram-content {
            text-align: center;
            background: #1f2335;
        }
        .capacity-content {
            text-align: center;
            background: #24273b;
        }

        .chart-ram svg,
        .chart-storage svg{
            box-shadow: none;
        }
    }

    @media only screen and (max-width: 425px) {
        .cores-content {
            margin-left: -15px;
        }
    }

    @media only screen and (max-width: 375px) {
        .cores-content {
            margin-left: -40px;
        }

        .ram-content,
        .capacity-content {
            margin-left: -15px;
        }
    }

    @media only screen and (max-width: 320px) {
        .ram-content,
        .capacity-content {
            margin-left: -40px;
        }

        .storage-content .content {
            margin-left: -15px;
        }


        .cores-content {
            margin-left: -70px;
        }

    }
    .scaling-count{
      background-image: url(/assets/images/createcloud/cloudperformance.png) !important;
      background-repeat: no-repeat !important;
      background-size: 100% auto !important;
      padding-top: 100px !important;
    }
}
