<img class="os-bg" src="images/second/os_bg_empty.png">
<div class="centos">
  <div class="os-version">
    <p class="centos-title">{{selected.type}}</p>
    {{#each selected.version as |versionDetail|}}
      {{theme-virtual-machine-version model=model activate=activate done="done" versionDetail=versionDetail}}
    {{/each}}
    <div class="btn-selected"><span>select</span><img></div>
  </div>
  <p class="description"> Troublesome aspect of the slider. Proper use of the settings required a secret knowledge of the underlying codebase, and did not allow for intuitive configuration. Plainly put - the carousel config was poopy.No longer! In version 4.1 the carousel
    functionality and settings have been re-worked to function in a straight forward, intuitive manner.</p>
</div>
