<div class="container">
    <div class="row text-center vnc-top">
        <div class="col-md-9 vnc-title">
            <div class="cover-text ">
      			<h4><span class="title_underline">VNC</span> viewer</h4>
    		</div>
        </div>
        <div class="col-md-3 vnc-button">
            <div class="col-md-8">
                <button type="button" {{action "ctrlAltDel"}} class='btn btn-dark btn-block pad_5 btn_shade_little'>
                    Send CtrlAltDel
               </button>
            </div>
            <div class="col-md-4 vnc-button-top">
             <div class="col-md-12 vnc-button">
                <button type="button" title="close" {{action "close"}} class='btn btn-block btn-danger pad_4 btn_shade_little'>
                  {{fa-icon "remove"}}
               </button>
              </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            {{vm-console vnchost=vnchost sendCtrlAltDel=sendCtrlAltDel vncport=vncport}}
        </div>
    </div>
</div>
