
  <div class="create-digital">
    <p class="sub-title"> Server OS </p>
    <p class="sub-description"> Select preferred system</p>
  </div>
  <div class="os-content">
    {{theme-virtual-machine model=model selected=selected}}
    <div class="os">
      <div class="arrow">
        <div class="arrow-left"><span class="fa fa-long-arrow-left"></span></div>
        <div class="arrow-right"><span class="fa fa-long-arrow-right"></span></div>
      </div>
      <div class="items">
        {{#each groupedVms as |vm|}}
          {{theme-plan model=model refreshAfterAction="refreshAfterSelect" vm=vm}}
        {{/each}}
      </div>
    </div>
  </div>