<div class="scaling-count">
  <div class="row generate ">
    <div class="g-left row peer-show ">
      <div class="col-md-12">
        <div class="rio-selectbtn row">
          <div class="col-md-6">
          {{scaling/scaleup-percentage-chooser class="chart-cores" model=model initValue=model.hscaling.target_value.max_target_value_cpu resource="cpu" }}
        </div>
        <div class="col-md-6">
          {{scaling/scaledown-percentage-chooser class="chart-cores" model=model initValue=model.hscaling.target_value.min_target_value_cpu resource="cpu"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
